<div class="flex row gap1 auto-overflow-x">
  <div class="card blue-card">
    <div class="label">Hiring Contractors:</div><div>{{hiring}}</div>
    <div class="label">Hiring Power Units:</div><div>{{hiring}}</div>
    <div class="label">Hiring Drivers:</div><div>{{hiring}}</div>
  </div>
  <div class="card green-card">
    <div class="label">Hired Today:</div><div>{{hired.today}}</div>
    <div class="label">Hired This Week:</div><div>{{hired.thisWeek}}</div>
    <div class="label">Hired This Month:</div><div>{{hired.thisMonth}}</div>
  </div>
  <div class="card orange-card">
    <div class="label">Left Today:</div><div>{{left.today}}</div>
    <div class="label">Left This Week:</div><div>{{left.thisWeek}}</div>
    <div class="label">Left This Month:</div><div>{{left.thisMonth}}</div>
  </div>
</div>
