.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.sidebar-menu > a {
  padding: .5rem 1rem;
  border-left: 3px solid transparent;
}

.sidebar-menu > a:hover, .sidebar-menu > a.active {
  background-color: rgba(var(--link-clr), .05);
  border-radius: var(--radius);
  border-left: 3px solid rgba(var(--mainGamma), .7);
}

.sidebar-menu > .sub-menu {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 0 0 1rem;
}
.sidebar-menu > .sub-menu > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .2rem .5rem;
  gap: .5rem;
}

.sidebar-menu > .sub-menu > a:hover, .sidebar-menu > .sub-menu > a.active {
  background-color: rgba(var(--bg-clr), 1);
  border-radius: var(--radius);
}

.sub-title {
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: .5rem 1rem;
}
