.online-users {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  background: rgba(0,0,0, .3);
  border-radius: var(--radius);
}

img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
