label {text-align: right;}

.at-sign {
  user-select: none;
  padding: 0 0.2rem;
  background-color: rgba(var(--link-clr), .6);
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
}

.coverageLine:hover .delete-cross-big{
  visibility: visible;
  opacity: 1;
}
