<div class="backdrop" (click)="close.emit()"></div>
<div class="modal">
  <div class="modal-title">
    <div class="m-title">
      <ng-container *ngIf="coverage"><b>{{coverage.coverageName}}</b> - Edit Coverage</ng-container>
      <ng-container *ngIf="!coverage">New Coverage</ng-container>
    </div>
    <div class="m-close" (click)="close.emit()">
      <svg viewBox="0 0 24 24">
        <polygon points="19.061 7.061 16.939 4.939 12 9.879 7.061 4.939 4.939 7.061 9.879 12 4.939 16.939 7.061 19.061 12 14.121 16.939 19.061 19.061 16.939 14.121 12 19.061 7.061"/>
      </svg>
    </div>
  </div>
  <div class="modal-content scrollbar radius0" style="border-radius: 0;">

    <form [formGroup]="form" autocomplete="off">
      <div class="grid tmpl-1x3 align-b gap1">
        <label for="coverageName">Coverage Name:</label><div><input id="coverageName" formControlName="coverageName" size="30"></div>

        <label for="producerID">Producer Name:</label>
        <div>
          <select id="producerID" formControlName="producerID" (change)="loadProducer($event)" style="width: 20rem">
            <option></option>
            <option *ngFor="let producer of producers" [value]="producer._id">{{producer.name}}</option>
          </select>
        </div>


        <ng-container *ngIf="producer$ | async as producer">
          <label for="producerID">COI Requests:</label><div>{{producer.coiRequests}}</div>
          <ng-container *ngIf="producer.agents.length">
            <label for="producerID">Agents:</label>
            <div class="flex colum gap05">
              <div *ngFor="let agent of producer.agents" class="flex row align-c gap05">
                <span>{{agent.name}}</span><span class="at-sign">@</span><span>{{agent.email}}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>


        <label for="expiration">Policy Expiration:</label><div><span appTooltip="MM/DD/YYYY"><input id="expiration" formControlName="expiration" size="10"></span></div>

        <label for="notes">Notes:</label><textarea id="notes" formControlName="notes" appAutoResizeTextarea></textarea>
      </div>

    </form>
  </div>
  <div>
    <div class="sticky-container flex justify-c">
      <button *ngIf="!coverage" type="button" class="blue-b" (click)="addCoverage()" [disabled]="this.form.invalid">Add Coverage<button-loader></button-loader></button>
      <button *ngIf="coverage" type="button" class="blue-b" (click)="saveCoverage()" [disabled]="this.form.invalid">Save<button-loader></button-loader></button>
    </div>
  </div>
</div>
