  <table class="item changes-table" [formGroup]="changesItem">
    <tr>
      <th class="leftb" [class.btl]="!first">Item</th><th colspan="2">Owner</th><th>Type</th><th>Unit#</th><th>VIN#</th><th>Year</th><th>Make</th><th>Value</th><th>NTL</th><th [class.btr]="!first">Leased to</th></tr>
    <tr class="primary-row">
      <td class="cell-item">{{i+1}}</td>
      <td colspan="2" class="name" tabindex="1" contenteditable="false" formControlName="owner">{{add.name}}</td>
      <td class="type">{{add.type}}</td>
      <td class="unit rightb" tabindex="1" contenteditable="false" formControlName="unit">{{add.unit}}</td>
      <td class="vin rightb"  tabindex="1" contenteditable="false" formControlName="vin">{{add.vin}}</td>
      <td class="year rightb" tabindex="1" contenteditable="false" formControlName="year">{{add.year}}</td>
      <td class="make" tabindex="1" contenteditable="false" formControlName="make">{{add.make}}</td>
      <td class="value adds-bg" tabindex="1" contenteditable="false" formControlName="value">{{add.value}}</td>
      <td class="ntl adds-bg">{{add.ntl}}</td>
      <td class="leased-to adds-bg relative" tabindex="1" (dblclick)="showDropdown($event)">
        <span *ngIf="!isDropdownVisible">
          {{ changesItem.get('leasedTo')?.value }}
        </span>
        <div *ngIf="isDropdownVisible" class="dropdown">
          <div class="leased-to-filter">
            <input (input)="byValue($event)" #leasedToFilter placeholder="Filter...">
          </div>
          <div class="">
            <div *ngFor="let carrierName of filteredCarrierNames" (click)="selectCompany(carrierName.name)" class="dropdown-item">
              {{ carrierName.name }}
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="secondary-row">
      <td colspan="2" rowspan="2" class="cell-bg bbl">Address:</td>
      <td rowspan="2" class="address" tabindex="1" contenteditable="false" formControlName="addressLine">{{add.addressLine}}</td>
      <td colspan="2" class="cell-bg losspayeeName">Loss Payee:</td>
      <td colspan="5" class="losspayee" tabindex="1" contenteditable="false" formControlName="lossPayee">{{add.lossPayee}}</td>
      <td class="cell-bg requested-by">Requested By:</td>
    </tr>
    <tr class="secondary-row">
      <td colspan="2" class="cell-bg">Notes:</td>
      <td colspan="5" class="notes" tabindex="1" contenteditable="false" formControlName="notes">{{add.notes}}</td>
      <td class="bbr handler" tabindex="1" contenteditable="false" formControlName="requestedBy">{{add.requestedBy}}</td>
    </tr>
  </table>
